.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

@charset "UTF-8";

.slick-loading .slick-list {
    background: #fff url("./ajax-loader.gif") center center no-repeat;
}

@font-face {
    font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
}

.slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px;
}

.slick-prev:before {
    content: "←";
}

[dir="rtl"] .slick-prev:before {
    content: "→";
}

.slick-next {
    right: -25px;
}

[dir="rtl"] .slick-next {
    left: -25px;
    right: auto;
}

.slick-next:before {
    content: "→";
}

[dir="rtl"] .slick-next:before {
    content: "←";
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75;
}

@charset "UTF-8";

@font-face {
    font-family: "YaHei";
  src: url("fonts/YaHei.eot?#iefix") format("embedded-opentype"), url("fonts/YaHei.woff2") format("woff2"), url("fonts/YaHei.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "YaHei", "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.flower-homepage {
    width: 100%;
}

.flower-homepage a {
    color: #000;
    text-decoration: none;
}

.flower-homepage a:active, .flower-homepage a:focus, .flower-homepage a:visited, .flower-homepage a:hover {
    text-decoration: none;
    outline: none;
    border: none;
}

.flower-homepage header {
    position: relative;
}

.flower-homepage .flower-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 20px auto;
    max-width: 768px;
    z-index: 99;
}

.flower-homepage .flower-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 30%;
}

.flower-homepage .flower-location img {
    margin-right: 10px;
    height: 40px;
    width: auto;
}

.flower-homepage .flower-location .text {
    font-size: 30px;
}

.flower-homepage .flower-search {
    width: 70%;
    position: relative;
}

.flower-homepage .flower-search input {
    border-radius: 25px;
    border: none;
    width: 90%;
    height: 40px;
    background: #979798;
    outline: none;
    padding-left: 20px;
    opacity: 0.8;
}

.flower-homepage .flower-search img {
    height: 25px;
    position: absolute;
    right: 10%;
    top: 7.5px;
}

.flower-homepage .flower-slides .flower-image {
    display: block;
    width: 100%;
    height: 350px;
}

.flower-homepage .flower-slides .slick-dots li.slick-active button:before {
    color: #e76fa0;
    opacity: 1;
}

.flower-homepage .flower-slides .slick-dots li button:before {
    color: #fff;
    opacity: 1;
}

.flower-homepage .flower-slides .slick-dots {
    bottom: 20px;
}

.flower-homepage .flower-menu {
    margin: 10px;
    border: solid 2px #c0e2e9;
    border-radius: 5px;
    padding: 15px 0;
}

.flower-homepage .flower-menu-center-items .row,
  .flower-homepage .flower-menu-subitems .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.flower-homepage .flower-menu-center-items .row .item,
    .flower-homepage .flower-menu-subitems .row .item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}

.flower-homepage .flower-menu-center-items .row .icon,
    .flower-homepage .flower-menu-subitems .row .icon {
    height: 50px;
    width: auto;
}

.flower-homepage .flower-menu-center-items {
    margin-bottom: 20px;
}

.flower-homepage .flower-art-life {
    margin: 30px 10px;
}

.flower-homepage .flower-art-life .flower-art-life-title {
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.flower-homepage .flower-art-life .flower-art-life-slides-item {
    width: 540px;
    border: solid 2px #c0e2e9;
    border-radius: 5px;
}

.flower-homepage .flower-art-life .flower-art-life-slides-item img {
    width: 540px;
    height: 300px;
}

.flower-homepage .flower-art-life .flower-art-life-slides-item .description {
    width: 440px;
    padding: 0 50px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flower-homepage .flower-footer-menu {
    height: 110px;
    position: relative;
}

.flower-homepage .flower-footer-menu .footer-description-with-line {
    overflow: hidden;
    text-align: center;
    display: block;
    width: 50%;
    margin: 0 auto;
}

.flower-homepage .flower-footer-menu .footer-description-with-line:after, .flower-homepage .flower-footer-menu .footer-description-with-line:before {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.flower-homepage .flower-footer-menu .footer-description-with-line:before {
    right: 0.5em;
    margin-left: -50%;
}

.flower-homepage .flower-footer-menu .footer-description-with-line:after {
    left: 0.5em;
    margin-right: -50%;
}

.flower-homepage .flower-footer-menu .flower-footer-menu-content {
    background: #fff;
    max-width: 768px;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
}

.flower-homepage .flower-footer-menu .flower-footer-menu-content img {
    height: 50px;
    width: auto;
}

.flower-homepage .flower-footer-menu li {
    cursor: pointer;
}

.flex-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.flex-wrap .flex-con {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}

.flower-class .flower-class-menu {
    border-bottom: 1px solid #999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 132px;
}

.flower-class .flower-class-menu img {
    width: 35px;
    padding-left: 40px;
}

.flower-class .flower-class-menu .flower-class-list-title {
    color: #333333;
    font-size: 60px;
    font-size: 3.75rem;
    padding-left: 224px;
}

.flower-class .flower-class-list-content .flower-class-list-item {
    border-bottom: 1px solid #999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 41px;
    padding-left: 40px;
    padding-bottom: 42px;
    max-height: 380px;
}

.flower-class .flower-class-list-content .flower-class-list-item .flower-class-list-item-left img {
    width: 300px;
    height: 299px;
}

.flower-class .flower-class-list-content .flower-class-list-item .flower-class-list-item-right .class-title {
    font-size: 48px;
    font-size: 3rem;
    color: #333333;
    margin-bottom: 49px;
}

.flower-class .flower-class-list-content .flower-class-list-item .flower-class-list-item-right .class-tag {
    font-size: 30px;
    font-size: 1.875rem;
    color: #666666;
    margin-bottom: 52px;
}

.flower-class .flower-class-list-content .flower-class-list-item .flower-class-list-item-right .class-price {
    font-size: 36px;
    font-size: 2.25rem;
    color: #333333;
}
